/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
    /*scroll-behavior: smooth;*/
    /*https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
}

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

main::after {
    content: "";
    background-size: 100%;
    background: url(cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    opacity: 0.2;
    top: 0;
    min-height: 250vh;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #221f20;
    width: max-content;
    padding: 0 40px 10px;
}

.dropdown-item {
    /*font-size: 14px;*/
    /*height: 34px;*/
    font-family: 'LilGroteskRegular';
    font-size: 20px;
    font-style: normal;

    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #f7f7f7;
    border-bottom: solid 1px #f7f7f7;
}

@font-face {
    font-family: 'quadrat-serialregular';
    src: url('./quadratserialregular-webfont.woff2') format('woff2'),
    url('./quadratserialregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    width: 50%;
}

.book-thumb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.store-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jiangHu-brand {
}

.dharma-header {
    color: black;
    padding-right: 3rem;
    padding-left: 3rem;
}

.dharma-header-title {
    font-family: 'quadrat-serialregular';
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    font-style: normal;
}

.dharma-header-text {
    font-family: 'LilGroteskRegular';
    font-size: 18px;
    font-weight: bolder;
    font-style: normal;
}

.dharma-button {
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 0px;
    font-family: 'quadrat-serialregular';
    background-color: #65c37e;
    color: white;
}

.dharma-navbar {
    background-color: #e7e7dc;
    border-bottom: 5px solid #956f35;
}

.dharma-navbar-item {
    color: #46473f;
    font-family: 'LilGroteskRegular';
    font-weight: bold;
    font-style: normal;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing {
    max-width: 100%;
    overflow: hidden;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* dharma-topics
------------------------- */

.dharma-topic {
    padding: 3rem 2rem 3rem;
    margin: 3rem 0 3rem;
}

.dharma-topic-background {
    color: #f7f7f7;
    background-color: #474a51;
}

.dharma-topic-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.dharma-topic-heading {
    font-family: 'quadrat-serialregular';
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    color: #f7f7f7;
}

.dharma-topic-subtitle {
    font-family: 'quadrat-serialregular';
    font-weight: 300;
    line-height: 1;
    font-size: 1.75em;
}

.dharma-topic-text {
    font-family: 'LilGroteskRegular';
    text-align: justify;
    color: #f7f7f7;
    font-size: 1.25rem;
    font-weight: 300;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 600px) {
    .navbar-brand {
        width: 30%;
    }

    .dharma-topic-heading {
        font-size: 50px;
    }

    main::after {
        opacity: 0.5;
        min-height: 500vh;
    }
}

@media (min-width: 700px) {
    .stores-container {
        padding-left: .5rem!important;
        padding-right: .5rem!important;
    }

    main::after {
        min-height: 180vh;
    }

}

@media (min-width: 1000px) {
    .book-thumb {
        width: 50%;
    }

    main::after {
        min-height: 220vh;
    }

    .navbar-brand {
        width: 10%;
    }

}

@media (min-width: 1400px) {
    main::after {
        min-height: 180vh;
    }

}

@media (min-width: 1200px) {
    .stores-container {
        padding-left: 2.5rem!important;
        padding-right: 2.5rem!important;
    }

}
