/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
    scroll-behavior: smooth;
    /*https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
}

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

html::after {
    content: "";
    background-size: 150%;
    background: url(cover.png) no-repeat fixed;
    left: -400px;
    opacity: 0.2;
    top: 5vh;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #221f20;
    width: max-content;
    padding: 0 40px 10px;
}

.dropdown-item {
    /*font-size: 14px;*/
    /*height: 34px;*/
    font-family: 'LilGroteskRegular';
    font-size: 20px;
    font-style: normal;

    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #f7f7f7;
    border-bottom: solid 1px #f7f7f7;
}

@font-face {
    font-family: 'quadrat-serialregular';
    src: url('./quadratserialregular-webfont.woff2') format('woff2'),
    url('./quadratserialregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    width: 50%;
}

.dharma-header {
    color: black;
    padding-right: 3rem;
    padding-left: 3rem;
}

.dharma-header-text {
    font-family: 'LilGroteskRegular';
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
}

.dharma-header-title {
    font-family: 'quadrat-serialregular';
    font-weight: 900;
    text-align: center;
    font-size: 42px;
    font-style: normal;
}

.dharma-button {
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 0px;
    background-color: #65c37e;
    color: white;
}

.dharma-navbar {
    background-color: #e7e7dc;
    border-bottom: 5px solid #956f35;
}

.dharma-navbar-item {
    color: #7f8078;
    font-family: 'LilGroteskRegular';
    font-weight: bold;
    font-style: normal;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* dharma-topics
------------------------- */

.dharma-topic {
    padding: 6rem 4rem 6rem;
    margin: 3rem 0 3rem;
}

.dharma-topic-odd {
    color: #f7f7f7;
    background-color: rgba(0, 0, 0, 0.75);
}

.dharma-topic-even {
    color: #7f8078;
    background-color: rgba(231, 231, 220, 0.75);

}

.dharma-topic-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.dharma-topic-heading {
    font-family: 'quadrat-serialregular';
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    .dharma-topic-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    html::after {
        top: 5vh;
        opacity: 0.5;
        background-size: 100%;
        left: 0;
    }

    .navbar-brand {
        width: 10%;
    }

}


